$dark-bg: hsl(0, 0%, 60%);
// $dark-widget: #e8e8e0;
$dark-widget: hsl(0, 0%, 15%);
$dark-accent: hsl(51, 90%, 50%);
$light-text: #fff;

$light-bg: #fff;
$light-widget: #ededed;
$light-accent: #980b0e;
$dark-text: #1f1f1f;
