#weather {
	.weather-container {
		height: 100%;
		border-radius: 12px;
		// display: flex;
		// align-items: center;
		// justify-content: center;
	}
	#weather-text {
		// flex: 1;
		width: 100%;
		// height: 77%;
		margin-top: 3rem;
		h3 {
			font-size: 2rem;
			text-transform: uppercase;
		}
		#degrees {
			font-size: 2rem;
			margin-left: 0.25rem;
		}
	}
	#weather-img {
		width: 100%;
		height: 33%;
		border-radius: 12px 12px 0 0;
		background-color: darkgrey;
		img {
			max-height: 100%;
		}
	}
	p {
		font-size: 48px;
		margin-top: 16px;
	}
	#weather-desc {
		font-size: inherit;
	}
}
