@import './variables';
@import './header';
@import './widgets';
@import './weather';
@import './score';
@import './todos';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
	text-align: center;
	.dark {
		height: 100vh;
		background-color: $dark-bg;
		color: $light-text;
	}
	.light {
		height: 100vh;
		background-color: $light-bg;
		color: $dark-text;
	}
}
